.navbar h1 {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;

  color: #f4b5b3;
  -webkit-animation: text-shadow-drop-center 2.8s both;
  animation: text-shadow-drop-center 2.8s both;

}

.navbar .link .fab {
  font-size: 26px;
  margin-left: 10px;

  color: #f4cbb3;
}

.offcanvas-body {
  background: rgb(237,220,206);
  background: linear-gradient(90deg, rgba(237,220,206,1) 0%, rgba(237,203,189,1) 46%, rgba(255,138,112,1) 100%);
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}